*~
*.scxml
.dbus
.bash_history
.cache/
.owner
.ros/
*.log
identity.key
jobs/*/builds/
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/nextBuildNumber
jobs/*/workspace/
plugins/
*.bak
secret.key
secrets/
updates/
userContent/
users/

com.cloudbees.jenkins.GitHubPushTrigger.xml
.Xauthority
.config/
.esd_auth
.git-credentials
.lesshst
.morse/
.nv/
.profile
.pulse-cookie
.pulse/
.ssh/

com.base2services.jenkins.SqsBuildTrigger.xml
secret.key.not-so-secret

